<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">
        @*  <div class="profile-info">
            <figure class="user-cover-image"></figure>
            <div class="user-info">
            <img src="assets/img/90x90.jpg" alt="avatar">
            <h6 class="">Sonia Shaw</h6>
            <p class="">Project Leader</p>
            </div>
            </div>
            <div class="shadow-bottom"></div>*@
        <ul class="list-unstyled menu-categories" id="accordionExample">


            <li class="menu">
                <a href="" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="6"></circle><circle cx="12" cy="12" r="2"></circle></svg>
                        @Html.ActionLink("", "Index", "Empleado")
                        <span>Empleados</span>
                    </div>
                </a>
            </li>


            <li class="menu">
                <a href="#Cuenta" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                        <span>Cuenta</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Cuenta" data-parent="#accordionExample">
                    <li>
                        @Html.ActionLink("Empleado", "Index", "Empleado")
                    </li>
                    <li>
                        @Html.ActionLink("Voluntario", "Index", "Voluntario")
                    </li>
                    <li>
                        @Html.ActionLink("Estudiante", "Index", "Estudiant")
                    </li>
                </ul>
            </li>


            <li class="menu">
                <a href="#Inventario" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
                        <span>Inventario</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Inventario" data-parent="#accordionExample">
                    <li>
                        @Html.ActionLink("Inventario", "Index", "Inventario")
                    </li>
                    <li>
                        @Html.ActionLink("InventariosDetalle", "Index", "InventariosDetalle")
                    </li>
                    <li>
                        @Html.ActionLink("Entrada", "Index", "Entrada")
                    </li>
                    <li>
                        @Html.ActionLink("EntradasDetalle", "Index", "EntradasDetalle")
                    </li>
                    <li>
                        @Html.ActionLink("Item", "Index", "Item")
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#Administración" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
                        <span>Administración</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Administración" data-parent="#accordionExample">
                    <li>
                        @Html.ActionLink("EmpleadosCargo", "Index", "EmpleadosCargo")
                    </li>
                    <li>
                        @Html.ActionLink("Refugio", "Index", "Refugio")
                    </li>
                    <li>
                        @Html.ActionLink("Localidad", "Index", "localidad")
                    </li>
                    <li>
                        @Html.ActionLink("Categoria", "Index", "Categoria")
                    </li>
                    <li>
                        @Html.ActionLink("Evento", "Index", "Evento")
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#Adopción" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
                        <span>Adopción</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Adopción" data-parent="#accordionExample">
                    <li>
                        @Html.ActionLink("Mascota", "Index", "Mascota")
                    </li>
                    <li>
                        @Html.ActionLink("Adopcion", "Index", "Adopcion")
                    </li>
                    <li>
                        @Html.ActionLink("Solicitud", "Index", "Solicitud")
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#Medicamento" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
                        <span>Medicamento</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Medicamento" data-parent="#accordionExample">
                    <li>
                        @Html.ActionLink("Vacuna", "Index", "Vacuna")
                    </li>
                    <li>
                        @Html.ActionLink("HistorialMedico", "Index", "HistorialMedico")
                    </li>
                    <li>
                        @Html.ActionLink("Procedencia", "Index", "Procedencia")
                    </li>
                    <li>
                        @Html.ActionLink("Raza", "Index", "Raza")
                    </li>
                </ul>
            </li>

        </ul>

    </nav>

</div>
<!--  END SIDEBAR  -->