<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">
        @*  <div class="profile-info">
            <figure class="user-cover-image"></figure>
            <div class="user-info">
            <img src="assets/img/90x90.jpg" alt="avatar">
            <h6 class="">Sonia Shaw</h6>
            <p class="">Project Leader</p>
            </div>
            </div>
            <div class="shadow-bottom"></div>*@
        <ul class="list-unstyled menu-categories" id="accordionExample">


            <li class="menu">
                <div class="dropdown-toggle">
                   <div class="">
                        <i class="fa-solid fa-house"></i>
                    @Html.ActionLink("Home", "", "Home")
                   </div>
                </div>
            </li>


            <li class="menu">
                <a href="#Cuenta" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-user"></i>
                        <span>Cuenta</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Cuenta" data-parent="#accordionExample">
                    <li>
                        @Html.ActionLink("Empleado", "Index", "Empleado")
                    </li>
                    <li>
                        @Html.ActionLink("Voluntario", "Index", "Voluntario")
                    </li>
                </ul>
            </li>


            <li class="menu">
                <a href="#Inventario" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-box-archive"></i>
                        <span>Inventario</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Inventario" data-parent="#accordionExample">
                    <li>
                        @Html.ActionLink("Inventario", "Index", "Inventario")
                    </li>
                    <li>
                        @Html.ActionLink("InventariosDetalle", "Index", "InventariosDetalle")
                    </li>
                    <li>
                        @Html.ActionLink("Entrada", "Index", "Entrada")
                    </li>
                    <li>
                        @Html.ActionLink("EntradasDetalle", "Index", "EntradasDetalle")
                    </li>
                    <li>
                        @Html.ActionLink("Item", "Index", "Item")
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#Administración" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-bars-progress"></i>
                        <span>Administración</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Administración" data-parent="#accordionExample">
                    <li>
                        @Html.ActionLink("EmpleadosCargo", "Index", "EmpleadosCargo")
                    </li>
                    <li>
                        @Html.ActionLink("Refugio", "Index", "Refugio")
                    </li>
                    <li>
                        @Html.ActionLink("Localidad", "Index", "localidad")
                    </li>
                    <li>
                        @Html.ActionLink("Categoria", "Index", "Categoria")
                    </li>
                    <li>
                        @Html.ActionLink("Evento", "Index", "Evento")
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#Adopción" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-dog"></i>
                        <span>Adopción</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Adopción" data-parent="#accordionExample">
                    <li>
                        @Html.ActionLink("Mascota", "Index", "Mascota")
                    </li>
                    <li>
                        @Html.ActionLink("Adopcion", "Index", "Adopcion")
                    </li>
                    <li>
                        @Html.ActionLink("Solicitud", "Index", "Solicitud")
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#Medicamento" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-suitcase-medical" style="width: 24px;"></i>
                        <span>Medicamento</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Medicamento" data-parent="#accordionExample">
                    <li>
                        @Html.ActionLink("Vacuna", "Index", "Vacuna")
                    </li>
                    <li>
                        @Html.ActionLink("HistorialMedico", "Index", "HistorialMedico")
                    </li>
                    <li>
                        @Html.ActionLink("Procedencia", "Index", "Procedencia")
                    </li>
                    <li>
                        @Html.ActionLink("Raza", "Index", "Raza")
                    </li>
                </ul>
            </li>

        </ul>

    </nav>

</div>
<!--  END SIDEBAR  -->